/*----Estilo de fuentes---*/
.estilo-1{
    color: rgb(240, 246, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.estilo-2{
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 30px;
}

.estilo-3{
    color: azure;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
}


/*----Estilo al navbar----*/

.logo-page{
    width: 30px;
}

.scroll-efect {
	transition: all 0.5s;
	background-color: rgba(34, 34, 34, 0.9);
}

/*----Estilo seccion "Quienes Somos"----*/

.cuerpo{
    background-color: black;
}

.icono, .card-body, .pie-de-pagina, .boton-formulario{
    background-color: rgb(39, 156, 240);
}

.card-img-top{
    height: 150px;
}

.barra{
    color: #ffe4c47a;
    height: 3px;
}

/*----Iconos fontawesome"----*/
.iconos{
    color:azure
}



